.colorSet4 .pagination {
  margin: 0.9375rem auto;
  display: flex;
  list-style: none;
  outline: none;
}

.colorSet4 .pagination > .active > a{
  background-color: #333 ;
  border-color: #333 ;
  color: #fff;
}

.colorSet4 .pagination > li > a{
  border: 0.0625rem solid #333 ;
  padding: 0.3125rem 0.625rem;
  outline: none;
  cursor: pointer;
}

.colorSet4 .pagination > li > a{
  border: 0.0625rem solid #333 ;
  padding: 0.3125rem 0.625rem;
  outline: none;
  cursor: pointer;
}

.colorSet4 .pagination > .active > a, .colorSet4 .pagination > .active > span, .colorSet4 .pagination > .active > a:hover, .colorSet4 .pagination > .active > span:hover, .colorSet4 .pagination > .active > a:focus, .colorSet4 .pagination > .active > span:focus{
  background-color:#333 ;
  border-color: #333;
  outline: none ;
}

.colorSet4 .pagination > li > a, .colorSet4 .pagination > li > span{
  color: #333
}

.colorSet4 .pagination > li:first-child > a, .colorSet4 .pagination > li:first-child > span, .colorSet4 .pagination > li:last-child > a, .colorSet4 .pagination > li:last-child > span{
  border-radius: unset
}