.colorSet1 .pagination {
  margin: 0.9375rem auto;
  display: flex;
  list-style: none;
  outline: none;
}

.colorSet1 .pagination > .active > a{
  background-color: #2554C7 ;
  border-color: #2554C7 ;
  color: #fff;
}

.colorSet1 .pagination > li > a{
  border: 0.0625rem solid #2554C7 ;
  padding: 0.3125rem 0.625rem;
  outline: none;
  cursor: pointer;
}

.colorSet1 .pagination > li > a{
  border: 0.0625rem solid #2554C7 ;
  padding: 0.3125rem 0.625rem;
  outline: none;
  cursor: pointer;
}

.colorSet1 .pagination > .active > a, .colorSet1 .pagination > .active > span, .colorSet1 .pagination > .active > a:hover, .colorSet1 .pagination > .active > span:hover, .colorSet1 .pagination > .active > a:focus, .colorSet1 .pagination > .active > span:focus{
  background-color:#2554C7 ;
  border-color: #2554C7;
  outline: none ;
}

.colorSet1 .pagination > li > a, .colorSet1 .pagination > li > span{
  color: #2554C7
}

.colorSet1 .pagination > li:first-child > a, .colorSet1 .pagination > li:first-child > span, .colorSet1 .pagination > li:last-child > a, .colorSet1 .pagination > li:last-child > span{
  border-radius: unset
}