* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.css-checkbox {
  display: none;
}

.css-checkbox + label {
	border-radius: 0.1875rem;
	display: inline-block;
  position: relative;
  top: 0.25rem;
  cursor: pointer;
}

.css-checkbox:checked + label:after {
	content: '\2714';
	font-size: 0.875rem;
	position: absolute;
	top: 0rem;
	left: 0.1875rem;
	color: white;
}